{% extends "base.html.twig" %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

 {{form_start(form)}}
<div class="container mt-3">

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
        <div class="bg-ligth py-3 px-3">
            <div class="alert alert-dark">
                <h2 class="alert-heading text-center">MODIFIER MON PROFIL</h2>
                <hr>

                {{form_row(form.username)}}
                {{form_row(form.email)}}
                {{form_row(form.avatar)}}

                {# <p>Voulez vous sauvegarder ces modifications ?</p> #}
                <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check" aria-hidden="true"></i> <b>Valider</b></button>
                {# <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check-circle" aria-hidden="true"></i><a href="{{ path ('account_profile') }}"> Sauvegarder</a></button> #}
                    
            </div>    
    {{form_end(form)}}
        </div>   
        </div>
        </div>
    </div>

</div>

{% endblock %}
