{% extends "base.html.twig" %}

{% block title %}Vos articles publiés
{% endblock %}

{% block body %}


	<div class="container">
		<h1 class="my-5">Les articles publiés par
			{{ app.user.username }}</h1>
		<div class="alert alert-info mt-3">
			<h2>
				<strong>Retrouvez ci-dessous toutes vos contributions à notre fil d'actualité</strong>
			</h2>
			<h3>
				<i>Vous avez publié
					<strong>{{ app.user.Postarticles | length }} article(s)</strong>
				</i>
			</h3>
		</div>

		{# Pour boucler sur les articles #}
		{% for article in app.user.Postarticles %}
			<hr style="border: 1px solid blue;">
			<div class="row mt-5 mb-3 text-center align-middle">
				<div class="mb-4 col-md-3 text-left align-middle mt-2">
					<h4>
						<strong>{{article.title}}</strong>
					</h4>
					<p>
						Article
						<strong>n°{{article.id}}</strong><br>
						Catégorie :
						{{ article.category.title }}<br>
						Publié le
						{{ article.createdAt | date ('d/m/Y') }}
						à
						{{ article.createdAt | date ('H:i') }}
					</p>
					<a href="{{ path('main_show', {'id' : article.id}) }})" class="btn btn-primary" style="font-size: 1.4em;">
						<i class="fas fa-eye"></i>
						<b>
							Ouvrir l'article</b>
					</a>
				</div>

				<div class="mb-3 col-md-3 mb-4">
					<img src="{{article.image}}" alt="Photo d'illustration de l'article {{article.title}}" class="img-fluid">
				</div>


				<div class=" float-center btn btn-success h-25 mb-4 text-center">
					{% include 'template_parts/_rating.html.twig' with {'rating' : article.AvgRatings} %}
				</div>

				<div class="col-md-3">
					<p class="text-center align-middle">
						<a href="{{ path('main_edit', {'id': article.id}) }}" class="btn btn-success btn-lg">
							<i class="fas fa-edit"></i>
						</a>
						<a href="" class="btn btn-danger btn-lg">
							<i class="fas fa-trash"></i>
						</a>
					</p>
				</div>
			</div>
			<hr style="border: 1px solid blue;">
		{% endfor %}
	</div>

{% endblock %}
