{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

	<div class="ml-5 mt-2 mb-5">

		<div class="row">
			<div class="col-md-3 filter">
				{% include 'main/_filter.html.twig' with {form: form} only %}
			</div>

			<div class="col-md-8 ml-3 px-5 py-0 border-left
					
					            {% if app.user %}
					            {{ app.user.bgColor }}
					            {% else %}
					
					            {% endif %}
					            ">

				<h1 class="text-center my-2 filActu alert alert-primary">
					<b>FIL D'ACTUALITE</b> 
				</h1>
				{% if is_granted('ROLE_EDITOR') %}
				<h4><a href="{{ path('main_create') }}" class="badge badge-warning text-dark text-right border border-dark p-3 mt-2"><i class="fas fa-plus"></i> AJOUTER UN ARTICLE</a></h4>
				{% endif %}

				{% if articles | length > 0 %}

				{% for articles in articles %}


					<hr class="mb-4">
					{% if articles.comments | length > 0 %}

						<div class="float-right mr-2 btn btn-success">
							{% include 'template_parts/_rating.html.twig' with {'rating' : articles.AvgRatings} %}
							<br>
						</div>
					{% else %}

						{% if app.user %}

							<a href="{{ path('main_show', {'id' : articles.id}) }}" class="btn btn-success btn-lg float-right ml-2 mr-2" style="color:yellow; text-shadow: 4px 6px 8px black;">
								<h4>
									<b>Donner mon avis !</b>
								</h4>
							</a>
						{% endif %}

					{% endif %}


					<h2>
						<b>{{ articles.title }}</b>
					</h2>
					<h4 class="metadata mt-3">
					{% if is_granted('ROLE_EDITOR') %}
						<h4><a href="{{ path('main_edit', {'id' : articles.id}) }}" class="badge badge-warning text-dark text-right border border-dark p-3 mb-2"><i class="fas fa-edit"></i> MODIFIER CET ARTICLE</a></h4>
					{% endif %}
						<i>Publié le
							{{ articles.createdAt | date ('d/m/Y') }}
							à
							{{ articles.createdAt | date ('H:i') }}
							par
							<strong>{{ articles.utilisateurs }}</strong>
							{% if articles.updatedAt is not null %}
								<span style="font-size: 0.8em; color: blue;">- Modifié le
									{{ articles.updatedAt | date ('d/m/Y') }}
									à
									{{ articles.updatedAt | date ('H:i') }}</span>
							</i>
						</h4>
						{% else %}

					{% endif %}
					<h4 class="metadata mt-3">
						<i>Catégorie :
							<h2 class="{{ articles.category.color }} text-light" style="font-size: 1em;">{{ articles.category.title }}</h2>
						</i>
					</h4>
					<h4 class="metadata">
						<i>Contenu libre :
							<h2 class="badge badge-success text-light" style="font-size: 1em;">{{ ((2000*100) / (articles.content | length)) | number_format(0, '.', ',') }} %</h2>
						</i>
					</h4>
					<div class="content mb-5">
						<img src="{{ articles.image }}" alt="image" class="float-left img-fluid mb-2" style="margin-right: 1rem;">

						<p style="text-align: justify">{{ articles.content|slice(0,2000)|raw }} .......</p>
						{% if app.user %}
							<p style="color: blue; font-size: 1.2em">Il vous reste
								<b>{{ (100 - ((2000*100) / (articles.content | length))) | number_format(0, '.', ',') }} %</b> de cet article à lire ...</p>
							<a href="{{ path('main_show', {'id' : articles.id}) }})" class="btn btn-primary" style="font-size: 1.4em;">
								<i class="fas fa-eye"></i>
								<b>
									Lire la suite</b>
							</a>
						{% else %}
							<p style="color: red; font-size: 1.2em">Il vous reste
								<b>{{ (100 - ((2000*100) / (articles.content | length))) | number_format(0, '.', ',') }} %</b> de cet article à lire ...</p>
							<a href="{{path('security_login')}}" class="btn btn-danger" style="font-size: 1.4em;">
								<b>
									La suite est réservée aux abonnés !</b>
							</a>
						{% endif %}
					</div>


                    
				{% endfor %}

				{% else %}
					<div class="container mt-5 mb-5">
						<div class="col-md-12">
							<div class="alert alert-danger border border-dark text-center">
								<p class="mt-5 text-danger" style="font-size: 2rem;"><i class="fas fa-times-circle text-danger"></i> {{ message }}</p>
								{# <div class="mt-5 mb-5"> #}
								{# <a href="{{ path('home') }}" class="badge badge-success border border-dark p-3 mr-5" style="font-size: 1rem;">RETOUR ACCUEIL</a>
								<a href="{{ path('products') }}" class="badge badge-warning border border-dark p-3" style="font-size: 1rem;">RETOUR BOUTIQUE</a> #}
								{# </div> #}
							</div>
						</div>
					</div>
        		{% endif %}

                <hr>
                <div class="d-flex justify-content-center mt-5">
                	{{ knp_pagination_render(articles) }}
                </div>
			</div>
		</div>
   
 </div>

	{% endblock %}
