{% extends 'base.html.twig' %}

{% block title %}Lire un article
{% endblock %}


{% block body %}

	<article
		class="container mt-5 mb-5
			
			{% if app.user %}
			{{ app.user.bgColor }}
			{% else %}
			
			{% endif %}
			">

		{% if article.comments | length > 0 %}
			<div class="float-right btn btn-success">
				{% include 'template_parts/_rating.html.twig' with {'rating' : article.AvgRatings} %}
				<br>
				<p class="mt-2 mb-1" style="font-size: 1.2em;">
					<strong>{{ commentaires | length }}</strong>
					avis</p>
			</div>
		{% else %}
			<a href="#avis" class="btn btn-success btn-lg float-right ml-2 mr-2" style="color:yellow; text-shadow: 4px 6px 8px black;">
				<h4>
					<b>Donner mon avis !</b>
				</h4>
			</a>
		</div>
	{% endif %}
	<h2>
		<b>{{ article.title }}</b>
	</h2>
	<h4 class="metadata">
		<i>Publié le
			{{ article.createdAt | date ('d/m/Y') }}
			à
			{{ article.createdAt | date ('H:i') }}
			par
			<strong>{{ article.utilisateurs }}</strong>
			{% if article.updatedAt is not null %}
				<span style="font-size: 0.8em; color: blue;">- Modifié le
					{{ article.updatedAt | date ('d/m/Y') }}
					à
					{{ article.updatedAt | date ('H:i') }}</span>
		</i>
	</h4>
		    {% else %}

	{% endif %}
	<h4 class="metadata">
		<i>Catégorie :
			<h2 class="badge badge-primary" style="font-size: 1em;">{{ article.category.title }}</h2>
		</i>
	</h4>
	<div class="content">
		<img
		src="{{ article.image }}" alt="image" class="float-left img-fluid" style="width: 600px; height:300px; padding-right: 20px;">
		{# <p>{{ article.content |slice(0,1800)|raw }}</p> #}
		<p style="text-align: justify">{{ article.content | raw }}</p>
		<hr style="border: 1px solid blue;" class="mt-5 mb-5" id="avis">
		{# <a href="" class="btn btn-primary mt-5 mb-4 mr-5 float-xl-none float-right"><i class="fa fa-comment" aria-hidden="true"></i> Ajouter un commentaire</a> #}
		{# <a href="{{path('main')}}" class="btn btn-primary mt-4 mb-5 mr-5 float-xl-none float-right" style="font-size: 1.6em;"><i class="fa fa-reply-all" aria-hidden="true"></i> <b>Retour au fil d'actualité</b></a> #}
		{# {% set comment = article.comments %} #}

		{% set comment = article.commentFromAuthor(app.user) %}

		{# {{dump(app.user)}}
		    {{dump(comment)}}
		    #}

			{% if comment is not null %}
				<div
				class="container col-8 bg-secondary float-left border border-dark text-light mt-4 mb-4"> {# <h2 class="mt-2" style="color:white; text-shadow: 4px 6px 8px black;"><b><img src="{{app.user.avatar}}" style="max-width:45px; border-radius:50%"> VOTRE AVIS :<h4 class="float-right mt-2">{{ comment.createdAt | date ('d/m/Y') }} à {{ comment.createdAt | date ('H:i') }}</h4</b></h2> #}
				<h2 class="mt-2" style="color:white; text-shadow: 4px 6px 8px black;">
					<b><img src="{{app.user.avatar}}" style="max-width:45px; border-radius:50%">
						Votre avis :<h4 class="float-right mt-2">{{ comment.createdAt | date ('d/m/Y') }}
							à
							{{ comment.createdAt | date ('H:i') }}</h4</b>
					</h2>
					<hr style="border: none; border-bottom: 2px solid #fff;">
					<blackquote>
						<h4 class="mt-2 mb-4">
							<i>"{{comment.content}}"</i>
						</h4>
					</blackquote>
					<h4 class="py-2" style="color:white; text-shadow: 4px 6px 8px black;">
						<strong>VOTRE NOTE :</strong>
						{% include 'template_parts/_rating.html.twig' with {'rating': comment.rating} %}</h4>
				</div>
			{% else %}
				<div class="alert alert-dark mt-5 mb-4">
					<h1 class="alert-heading mb-3">
						<i class="fa fa-comment" aria-hidden="true"></i>
						Réagissez à cet article !</h1>
					{{ form_start(commentForm) }}
					{{ form_widget(commentForm) }}
					<button type="submit" class="btn btn-success">
						<b>Poster !</b>
					</button>
					{{ form_end(commentForm) }}
				</div>
			{% endif %}

			<a href="{{path('main')}}" class="btn btn-primary mt-4 mb-3 mr-5 float-xl-none float-right" style="font-size: 1.6em;">
				<i class="fa fa-reply-all" aria-hidden="true"></i>
				<b>Retour au fil d'actualité</b>
			</a>
		</article>
		<section class="alert alert-warning" id="commentaires">

			{% if article.comments | length > 0 %}
				{# {% if comment.status is same as ("Validé")  %} #}
				<h2 class="mb-3 text-center text-dark mt-5 mb-5">
					<strong>COMMENTAIRES DE NOS LECTEURS</strong>
				</h2>

				<div class="container col-10 alert bg-primary text-light mb-4">
					<h1 class="alert-heading text-center">
						<div class="row align-items-center">
							<div class="col">
								<b style="text-shadow: 6px 8px 8px black;">NOTE DE L'ARTICLE</b>

							</div>
							<div class="col">
								<span class="rating mt-2">
									{% include 'template_parts/_rating.html.twig' with {'rating' : article.AvgRatings} %}
								</span>
								<br>
								{# {% for comment in commentaires %} #}
								<div>
									<small>Evaluation sur
										<strong>{{commentaires | length }}</strong>
										avis !</small>
								</div>
								{# {% endfor %} #}
							</div>
						</div>
					</h1>
				</div>
				{# {% endif %} #}
			{% else %}
				<h2 class="m-3 mb-3 text-center">
					<strong>Commentaires des lecteurs</strong>
				</h2>
				<div class="container col-7 bg-danger text-light">
					<h2 class="mt-5 mb-5 text-center p-5">
						<i>Cette article n'a pas encore reçu de commentaire !</i>
                    </h2>
						<br>
					</div>
			{% endif %}


				{% for comment in commentaires %}
					{# {% if comment.status is same as ("Validé")  %}  #}

					<div class="container col-4 alert bg-success text-light rounded mb-3 py-3 px-3">
						<img src="{{ comment.utilisateur.avatar }}" style="max-width:45px; border-radius:50%">
						<i>{{ comment.createdAt | date ('d/m/Y') }}
							à
							{{ comment.createdAt | date ('H:i') }}
							par
							<strong>
								<u>{{ comment.author }}</u>
							</i>
						</strong>
						<hr style="border: none; border-bottom: 1px solid #fff;">
						<blockquote class="mt-3">
							<h5>
								<i>"{{comment.content}}"</i>
							</h5>
						</blockquote>
						<strong style="font-size: 1.5em; text-shadow: 6px 6px 4px black;">
							<i>NOTE DE L'ARTICLE :</i>
						</strong>
						{% set rating = comment.rating %}
						{% include 'template_parts/_rating.html.twig' with {'rating' : comment.rating} %}

					</div>
				{% endfor %}


			</section>
{% endblock %}
