{% extends 'admin/base.html.twig' %}

{% block title %}EDITION D'UN UTILISATEUR{% endblock %}

{% block body %}

<div class="container col-7 mt-5 mb-4">
    <h1 class="mb-4 text-center">MODIFIER UN UTILISATEUR</h1>

    {{form_start(form)}}
    

    {# <div class="mt-4 row-10"> #}
    <div class="container col-md-12 card-body alert alert-secondary">
       
            {# <div class="card-body alert alert-secondary"> #}
             {# {{ form_widget(form) }} #}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.username) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.email) }} 
                </div>
             </div>
            <div>
                {{ form_row(form.avatar) }}
            </div>
            <div>
                {{ form_row(form.userRoles) }}
            </div>
             {# {{ dump() }} #}
            <button type="submit" class="btn btn-success mt-3 mb-5 center-block"><a href=""></a><i class="fa fa-check" aria-hidden="true"></i> <b>Valider</b></a></button>

    </div>
   
    {{ form_end(form) }}

</div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}