{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block body %}
    <div class="admin-page {{ app.user.adminBgColor }}">

        <div class="container">
            <div class="row">
                <div class="col s12 mt-4">
                    {# <a href="{{ path('admin_comment_create') }}" class="btn btn-primary" style="float: right"><strong>Ajouter</strong></a> #}
                    <h2>LISTE DES COMMENTAIRES <strong style="color: green;">"PUBLIES"</strong> </h2>
                    {# {% for comment in pagination.data %} #}
                    {# {% if commentaire.status("Validé") | length > 0 %} #}
                    {# {% if comment.status is same as ("Validé")  %} #}
                    {# {% for comment in pagination.commentNonValide %} #}
                    {# {% if comment.status is same as ("Validé") %}  #}
                    {% if stats.waitingComment > 0 %}
                    <a href="{{ path('admin_comment_toValidate') }}"><h2 class="bg-danger p-2 mt-3 text-light" style="font-size: 1.6em; color:white;"><i class="fas fa-exclamation-triangle fa-2x"></i><strong> {{ stats.waitingComment }} commentaire(s)</strong> en attente de validation</h2></a>
                    {% endif %}
                    {# {% endfor %} #}
                    <table class="table table-hover mt-3">
                        <thead class="{{ app.user.adminTableColor }} text-white">

                            <tr>
                                <th class="text-center align-middle">#</th>
                                <th class="text-center align-middle">Commentaire</th>
                                <th class="text-center align-middle">Date de publication</th>
                                <th class="text-center align-middle">Statut</th>
                                <th class="text-center align-middle">Auteur</th>
                                <th class="text-center align-middle"># article</th>
                                <th class="text-center align-middle">Titre article</th>
                                <th class="text-center align-middle">Actions</th>
                            </tr>
                        </thead>
                        {# {% set i = 1 %} #}
                        {% for comment in pagination.commentValide %}
                        {# {% if comment.status is same as ("Validé") %} #}
                        {# {% for comment in commentairesValide %} #}
                                <tr class="text-dark">
                                    <td class="text-center align-middle">{{ comment.id }}</td>
                                    <td class="align-middle">{{ comment.content|slice(0,50)|raw }} ...</td>
                                    <td class="text-center align-middle">{{ comment.createdAt | date ('d/m/Y') }} à {{ comment.createdAt | date ('H:i') }}</td>
                                    <td class="text-center align-middle">{{ comment.status }}</td>
                                    <td class="text-center align-middle">{{ comment.utilisateur.username }}</td>
                                    <td class="text-center align-middle">{{ comment.article.id }}</td>
                                    <td class="text-center align-middle">{{ comment.article.title }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-success mr-2 mb-2"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                        <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger mr-2 mb-2"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {# {% set i = i+1 %} #}
                            {# {% endif %} #}
                        {# {% endfor %} #}
                        {% endfor %}
                    </table>
                    <hr>
                     {% include 'admin/template_parts/pagination.html.twig' with {'route' : 'admin_comment'} %}
                </div>
            </div>
        </div>
    </div>
     <footer class="{{ app.user.bgColor }}" style="height: 1000px;"></footer>
 {% endblock %}   
