{% extends 'base.html.twig' %}

{% block title %}EVENEMENTS{% endblock %}

{% block body %}

<div class="container col-5 mt-5 mb-5">
    <h1 class="mb-4 text-center">CREER UN EVENEMENT</h1>

    {# {{ dump(app.flashes)}} #}

    {# {{form_start(form)}}
    

    <div class="row-5">
       
            <div class="card-body alert alert-secondary">
             {{ form_widget(form) }}
            <button type="submit" class="btn btn-success mt-3 mb-5 center-block"><a href=""></a><i class="fa fa-check-circle" aria-hidden="true"></i> <b>Valider</></b></a></button>

    </div>
       
   
    {{ form_end(form) }} #}



    {# {{form_start(form)}}
    
    <div class="row">
        <div class="col">
            <div class="alert alert-dark">
                
            {{ form_row(form.name) }}

            {{ form_row(form.subtitle) }}

            {{ form_row(form.date) }}

            {{ form_row(form.place) }}

            {{ form_row(form.picture) }}  

            {{ form_row(form.description) }}  

            {{ form_row(form.content) }} 

            {{ form_row(form.envoyer) }}  
                 #}
            {# </div class="alert alert-dark"> #}
            {# {% if editMode %}
                <button type="submit" class="btn btn-success mt-3 mb-3" style="font-size: 1.5em;"><i class="fas fa-check"></i>
                     <b>VALIDER LES MODIFICATIONS</b>
            {% else %}
                <button type="submit" class="btn btn-success mt-3 mb-3" style="font-size: 1.5em;"><i class="fas fa-check"></i>
                    <b>AJOUTER</b>
                    </button>
            {% endif %} #}
            {# </div>
        </div>
    </div>
    {{form_end(form)}} #}
 

</div>
{% endblock %}