{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}

{# {% for event in eventToCome %} #}
<div class="container mt-5
			
			{% if app.user %}
			{{ app.user.bgColor }}
			{% else %}
			
			{% endif %}
			">
					
</div>
   
    <div class="container mb-5 bg-success text-light rounded">

      {# <div class="bg-dark row justify-content-start" style="width: 10%; height:10%;"><i class="fas fa-handshake fa-4x p-3"></i></div> #}
   
      <h1 class="text-center p-2 align-middle p-4" style="color: yellow; text-shadow: 8px 10px 10px black;"><i class="fas fa-handshake"></i> RENCONTRES CITOYENNES <i class="fas fa-handshake"></i>

      <hr class="bg-light w-75 mt-4" style="margin: auto; height: 0.2rem;">
      <hr class="bg-light w-50 mt-2" style="margin: auto; height: 0.2rem;">
      <hr class="bg-light w-25 mt-2" style="margin: auto; height: 0.2rem;">
      
      </h1>

      <h1 class="text-center p-1" style="color: white; text-shadow: 8px 10px 10px black;"><i>"{{ event.name }}"</i><br>

      <hr class="bg-light w-25 mt-5 mb-3" style="margin: auto; height: 0.2rem;">

      <!-- Project Two -->
      <div class="row mt-5 text-center">
        <div class="col-md-7">
          <a href="">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ event.picture }}" alt="Photo du lieu de l'évènement" style="width: 700px; height:300px;">
          </a>
        </div>
        <div class="col-md-5">
          <h3 class="text-center mt-5" style="color: yellow; text-shadow: 8px 10px 10px black;"><b><i>{{ event.date | date ('d/m/Y') }} à {{ event.date | date ('H:i') }} <br>  <br> {{ event.place }}</i></b></h3>
          {# <p>{{ event.description }}</p> #}
          {# <a class="btn btn-primary mt-2" href="{{ path('events_new') }}"><i class="fas fa-eye"></i><b> Plus de détails</b></a> #}
        </div>

        <hr class="bg-light w-25 mt-5 mb-3" style="margin: auto; height: 0.2rem;">

        <h1 class="mt-4 text-left border w-100 p-3"><i><u>Intervenant(s) :</u> {{ event.subtitle }}</i></h1>

        <h1 class="mt-5 text-justify border w-100 p-3"><i><u>Thèmatique :</u></i><br><p class="mt-4" style="font-size: 1.5rem;">{{ event.content | raw }}</p></h1>
      </div>
      </div>
      </div>
      </div>
      
     
      {# {% endif %}
      {% endfor %} #}
      
       <div class="mb-5">
  
</div>
 {# {% endfor %} #}

{% endblock %}
